sudo: required
services:
  - docker

before_install:
  - docker build -t lauromueller/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true lauromueller/react-test npm run test

after_success:
  - docker build -t lauromueller/multi-client ./client
  - docker build -t lauromueller/multi-nginx ./nginx
  - docker build -t lauromueller/multi-server ./server
  - docker build -t lauromueller/multi-worker ./worker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push lauromueller/multi-client
  - docker push lauromueller/multi-client
  - docker push lauromueller/multi-client
  - docker push lauromueller/multi-client